<html ng-app="cepApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Teste</title>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>

    <!-- jQuery library -->
    <script src="Scripts/jquery-1.9.1.min.js"></script>

    <link href="Content/ionic.min.css" rel="stylesheet">

    <script src="Scripts/ionic.min.js"></script>
    <script src="Scripts/ionic.bundle.min.js"></script>

    <script src="Scripts/controller.js"></script>
    <script src="Scripts/service.js"></script>
    <script src="Scripts/app.js"></script>
</head>
<body ng-controller="ApiController">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Busca dados do cep</h1>
        </ion-header-bar>
        <ion-content>
           
            <ion-list>
                <ion-item>
                    <ion-label fixed>CEP</ion-label>
                    <ion-input type="text" value="" ng-model="cep"></ion-input>
                </ion-item>
                <ion-item>
                    <button ion-button ng-click="findCep()">Buscar o CEP</button>
                </ion-item>
                <ion-item>
                    <ion-icon name="home" item-start></ion-icon>
                    Logradouro: {{logradouro}}
                </ion-item>
                <ion-item>
                    <ion-icon name="pin" item-start></ion-icon>
                    <ion-label fixed>Bairro: {{bairro}}  </ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="info" item-start></ion-icon>
                    Complemento: {{complemento}}
                </ion-item>
                <ion-item>
                    <ion-icon name="pin" item-start></ion-icon>
                    Cidade: {{city}} / {{uf}}
                </ion-item>
            </ion-list>
        </ion-content>
</body>
</htmlng-app="cepApp">